.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #63A39C;
    margin:0px;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 180px;
    padding: 14px 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
}

.feature-container{
    display: flex;
    flex-direction: row;
    background-color: #e0ffff;
    border-radius: 20px;
    padding: 15px 30px;
    gap: 90px;
}

.navbar-feature-wrap {
    text-decoration: none;    
}

.navbar-feature-wrap:hover,
.navbar-feature-wrap:active {
    text-decoration: none;    
}

.navbar-feature{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    background-color: #e0ffff;
    border: none;
    cursor: pointer;
    transition: transform 150ms ease-in-out;
}

.navbar-feature:hover{
    transform: scale(1.05);
}

.navbar-feature:active{
    transform: scale(0.95);
}
.navbar-text{
    color: #63a39c;
    margin: 0px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#profile
{
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    background-color: #E0FFFF;
    border-radius: 47px;
    height: 768px;
    margin: 50px 100px;
}

#logout button
{
    margin-right: 40px;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    width: 160px;
    height: 48px;
    align-self: right;
}


#logout button:not(:hover)
{
    background-color: #FFFFFF;
    color: #3e7a72;
    transition: 0.3s ease;
}

#logout button a
{
    font-weight: 700;
    text-decoration: none;
    color: #63A39C;
}

#logout button a:hover
{
    color: #FFFFFF;
    transition: 0.3s ease;
}

#logout button:hover
{
    color: #FFFFFF;
    background-color: #4a8c82;
    transition: 0.3s ease;
}

#profile-items a
{
    text-decoration: none;
    color: #63A39C;
    font-size: 24px;
    font-weight: 600;
}

#profile-items button
{
    margin: auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #63A39C;
    font-size: 24px;
    font-weight: 600;
    border: none;
    background-color: #E0FFFF;
}

#profile-items button:hover
{
    color: #3e7a72;
}

#profile-items a:hover
{
    color: #3e7a72;
}

#profile-items
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.profile-item
{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 50vw;
    height: 84px;
    padding: 20px;
}

.profile-item img
{
    height: 65px;
    margin-right: 20px;
}

.profile-item input
{
    font-family: "Poppins", sans-serif;
    display: flex;
    width: 70%;
    height: 41px;
    border-radius: 8px;
    background-color: white;
    border-style: solid;
    border-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    font-size: 16px;
}

.profile-item input:disabled
{
    color: #AAAAAA;
}

.icon-label
{
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    margin-right: 20px;
}

.icon-label label
{
    color: #63A39C;
}

.icon-label img
{
    height: 65px;
    margin-bottom: 5px;
}



/* FOOTER CSS */


.footer-container{
    background-color: #3e7a72;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.footer-content-container{
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin: 0px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-logo-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0px;
    padding-left: 25px;
    padding-right: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer-text-logo{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin: 0px;
}

.social-media-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title-content{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: white;
    margin: 0px;
}

.footer-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.footer-content-text{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: white;
    margin: 0px;
}

.contact-us-section{
    display: flex;
    flex-direction: column;
    height: 137px;
    gap: 8px;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-copyright-container{
    padding-left: 144px;
    padding-right: 144px;
    padding-top: 0px;
    padding-bottom: 15px;
}

#footer-copyright-text{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 11px;
    color: white;
    margin: 0px;
}


